<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
  </head>
  <body>
    <h1>User List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Time Taken</th>
          <th>Accuracy</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user._id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.timeTaken %></td>
            <td><%= user.accuracy %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>